<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoSmokingMap</title>

    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    <script src="~/dist/main.build.js"></script>
</body>
</html>
